<footer>
	<div class='brand'>
	@KNIT-Library
	</div>
	<div class='rest'>
		<div class='non-contact'>
		<div><a href='/rules'>Rules</a></div>
		<div><a href='/fine-calculator'>Calculator</a></div>
		</div>
		<div class="contact">
			<div><a href='/contacts'>Contacts</a></div>
		</div>
	</div>
</footer>