<form action = '/library/add-book/create' method = 'POST'>
	<input type = 'text' placeholder='Enter book name' name = 'name' required>
	<input type = 'text' placeholder='Enter writer name' name = 'writer' required>
	<input type = 'text' placeholder='Enter publication' name = 'publication' required >
	<input type = 'text' placeholder='Enter category of book' name = 'category' required>
	<input type = 'number' placeholder='Enter ISBN Number' name = 'isbn' required>
	<button>Submit</button>
</form>