<link rel="stylesheet" type="text/css" href="/css/contact.css">

<div class='contact-page-container'>
<div class='heading'>Contact Us</div>
<div class='all-contact-container'>
<div class='nameandpic_holder'>
<div class='contact-container'>
	<div class='developer-pic' style='background: url("uploads/contacts/raj.jpg");background-size: cover;background-position: center;'>
	</div>
	<div class='developer-detail'>
		<span>Raj Srivastava</span>
		<span>rajsriv.14@gmail.com</span>
		<span>Final Year CSE student of KNIT Sultanpur</span>
		<span>Full Stack Developer</span>
	</div>
</div>
<div class="short-name">Raj</div>
</div>

<div class='nameandpic_holder'>
<div class='contact-container'>
	<div class='developer-pic' style='background: url("uploads/contacts/karan.jpg");background-size: cover;background-position: center;'>
	</div>
	<div class='developer-detail'>
		<span>Karan Singh</span>
		<span>singh.karan@gmail.com</span>
		<span>Final Year CSE student of KNIT Sultanpur</span>
		<span>Frontend Developer</span>
	</div>
</div>
<div class="short-name">Karan</div>
</div>

<div class='nameandpic_holder'>
<div class='contact-container'>
	<div class='developer-pic' style='background: url(https://www.pinclipart.com/picdir/middle/94-940962_10-things-web-designers-should-know-to-become.png);background-size: cover;background-position: center;'>
	</div>
	<div class='developer-detail'>
		<span>Vedas Jaiswal</span>
		<span>vedas.jaiswal@gmail.com</span>
		<span>Final Year CSE student of KNIT Sultanpur</span>
		<span>Frontend Developer</span>
	</div>
</div>
<div class="short-name">Vedas</div>
</div>
</div>
<div id='foot-contact'>*For any Query : Mail us at <a style='color:inherit;' href='mailto:library@knit.com'><u><strong>library@knit.com</strong></u></a></div>
</div>