<div>
<h1>Fine Calculator</h1>
</div>

<form>
<label>Issue Date</label>
<input id='issue' type='date' name='issueDate' placeholder='Expected Issue Date' required>
<label>Return Date</label>
<input id='return' type='date' name='returnDate' placeholder='Expected Return Date' required>
</form>
<button id='find'>Find</button>
<div id='result'></div>
<script type="text/javascript" src='/js/fine_calculate.js'></script>