<link rel="stylesheet" type="text/css" href="/css/home_page.css">
<div><a href='/library/add-book'>Add Book</a></div>
<div><a href='/library/userlist'>Issue List</a></div>
<div><a href='/library'>All books</a></div>
<div><a href='/contacts'>Contacts</a></div>
<div><a href='/fine-calculator'>Fine Calculator</a></div>
<div><a href='/rules'>Rule Book</a></div>
<div><a href='/users'>Search User</a></div>