<h1>Library Rules</h1>

<ul>
<li>Max 2 books issued at a time by a student</li>
<li>Fine Rules:First 60 days no fine , next 30 days: 1rupee/day , after : 2rupee/day</li>
<li>Add more rules a sper convenience..</li>
</ul>