<link rel="stylesheet" type="text/css" href="/css/rules.css">
<div class='rules-heading'>Library Rules</div>
<div class='rules-list'>
<ul>
<li>Maximum 2 books can be issued at a time by a student.</li>
<li>User can update only few of his details, like Mobile Number, for updating other details, it can be done by admin only.</li>
<li>Fine Rules:-
	<ul>
	<li>First 60 days : No Fine</li>
	<li>Next 30 days: 1&#x20B9;/day</li>
	<li>Afterwards : 2&#x20B9;/day</li>
	</ul>
</li>
<li>Add more rules as per convenience..</li>
</ul>
</div>