#add-update-book-page-container{
	display: flex;
    flex-direction: column;
    align-items: center;
    
    #addPage-header,#update-user-header{
    margin: 20px;
    padding: 5px;
    font-size: 2.8rem;
    font-family: sans-serif;
    }
    #form-container{
    	width: 55%;
    	form{
    		display: flex;
    		flex-direction: column;
    		align-items: center;

    		input,select{
    			width: 330px;
			    height: 40px;
			    margin: 10px;
			    padding: 5px;
			    font-size: 1.2rem;
			    box-sizing: border-box;
			    outline: none;
			    border: 2px solid #6b6bad;
			    transition: all .4s ease-in-out;

			    &:focus{
			    	border: 2px solid blue;
			    	box-shadow: 0 0 10px 10px lightblue;
			    }
    		}
    		select{
    			option{
    				font-weight: 600;
    			}
    		}


    		button{
    			width: 125px;
			    height: 45px;
			    margin: 14px;
			    border: 2px solid blue;
			    background: deepskyblue;
			    font-size: 1.3rem;
			    border-radius: 10px;
			    color: currentColor;
			    font-weight: 600;
			    font-family: cursive;
			    outline:none;
    		}
    	}
    }	
}