div{
	&.rules-heading{
	margin: 10px;
	margin-top: 0px;
    padding: 5px;
    font-size: 2.8rem;
    color: #37497d;
    text-decoration: underline;
    font-family: cursive;
    text-align:center;
    text-shadow: 4px -4px 10px #4d6271;
	}
	&.rules-list{
		width: 90%;
		margin:auto;
		ul{
			li{
				font-size: 1.8rem;
			    color: #a83c3c;
			    font-family: serif;
			    ul{
			    	li{
			    		color:#3aaa3d;
			    		font-family: monospace;
			    	}
			    }
			}
		}
	}
}