#add-update-book-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; }
  #add-update-book-page-container #addPage-header, #add-update-book-page-container #update-user-header {
    margin: 20px;
    padding: 5px;
    font-size: 2.8rem;
    color: #37497d;
    text-decoration: underline;
    font-family: cursive;
    text-align: center;
    text-shadow: 4px -4px 10px #4d6271; }
  #add-update-book-page-container #form-container {
    width: 55%; }
    #add-update-book-page-container #form-container form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #add-update-book-page-container #form-container form .placeholder {
        font-size: 1.7rem;
        color: #b73535;
        font-family: monospace;
        font-style: italic;
        text-shadow: 0 0 8px #d0c51b; }
      #add-update-book-page-container #form-container form input, #add-update-book-page-container #form-container form select {
        width: 330px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        font-size: 1.2rem;
        box-sizing: border-box;
        outline: none;
        border: 2px solid #6b6bad;
        transition: all .4s ease-in-out; }
        #add-update-book-page-container #form-container form input:focus, #add-update-book-page-container #form-container form select:focus {
          border: 2px solid blue;
          box-shadow: 0 0 8px 6px lightblue; }
      #add-update-book-page-container #form-container form select option {
        font-weight: 600; }
      #add-update-book-page-container #form-container form button {
        width: 125px;
        height: 45px;
        margin: 14px;
        border: 2px solid blue;
        background: deepskyblue;
        font-size: 1.3rem;
        border-radius: 10px;
        color: currentColor;
        font-weight: 600;
        font-family: cursive;
        outline: none; }
