.reset-heading {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 2rem;
  font-family: cursive;
  text-decoration: underline;
  color: #365284;
  text-shadow: 2px -4px 8px #69819f; }

form {
  padding: 5rem;
  padding-top: 1rem; }
  form input {
    width: 300px;
    padding: .4rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #4949bd;
    font-family: cursive;
    letter-spacing: .2rem; }
  form input[type='submit'] {
    width: 140px;
    font-size: 1.1em;
    font-weight: 600;
    outline: none;
    border: 2px solid #2b3faf;
    background: #68ce90;
    color: #15154a;
    border-radius: 10px; }
  form span {
    text-align: center;
    font-size: 1.2rem;
    color: #d62425;
    font-weight: 600;
    font-family: monospace;
    padding-bottom: 1rem; }
